/.git
/.vs
/BK
/Escudos
/HRBolao/bin
/HRBolao/obj
/HRBolao.Dados/bin
/HRBolao.Dados/obj
/HRBolao.Manager/bin
/HRBolao.Manager/obj
/HRBolao.Model/bin
/HRBolao.Model/obj
/HRBolao.Regra/bin
/HRBolao.Regra/obj
/HRBolao.Servico/bin
/HRBolao.Servico/obj
/HRBolao.ViewModel/bin
/HRBolao.ViewModel/obj
/HRBolao.Web
/HRTeste

.git
.vs
BK
Escudos
HRBolao/bin
HRBolao/obj
HRBolao.Dados/bin
HRBolao.Dados/obj
HRBolao.Manager/bin
HRBolao.Manager/obj
HRBolao.Model/bin
HRBolao.Model/obj
HRBolao.Regra/bin
HRBolao.Regra/obj
HRBolao.Servico/bin
HRBolao.Servico/obj
HRBolao.ViewModel/bin
HRBolao.ViewModel/obj
HRBolao.Web
HRTeste